In [1]:
import requests

In [12]:
response = requests.get('https://api.covid19api.com/summary').text

In [13]:
response = requests.get('https://api.covid19api.com/summary').text

In [3]:
response.

SyntaxError: invalid syntax (2615864601.py, line 1)

In [15]:
response_info = json.loads(response)

In [16]:
import json

In [17]:
response_info = json.loads(response)

In [2]:
response_info.

SyntaxError: invalid syntax (4192800222.py, line 1)

In [19]:
type(response_info)

dict

In [1]:

response_info['Countries'].

SyntaxError: invalid syntax (1137277823.py, line 1)

In [23]:
import pandas as pd

In [27]:
country_list = []
for country_info in response_info['Countries']:
 country_list.append([country_info['Country'], country_info['TotalConfirmed']])

In [28]:
country_df = pd.DataFrame(data=country_list, columns=['Country', 'Total_Confirmed'])

In [29]:
country_df.head(10)

               Country  Total_Confirmed
0          Afghanistan           201557
1              Albania           332701
2              Algeria           270768
3              Andorra            46449
4               Angola           103131
5           Antarctica               11
6  Antigua and Barbuda             9106
7            Argentina          9715464
8              Armenia           444869
9            Australia         10313911